:root {
	--color-plum: #563761;
	--color-wine: #a7425c;
	--color-orange: #f3825f;
	--color-sunny: #ffe26f;
	--color-sandy: #f4f1ae;
	--color-hot-orange: #f85a16;
	--color-hot-pink: #ca005e;
	--color-hot-blue: #6927ff;
	--color-light-blue: #837dff;
	--color-violet: #bf81ff;
	--color-creamy: #ffd581;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
